.container
  .heading
    .left
      %h2 History
    .right
      .filter
        = form_tag '/filter', method: :get, class: 'filter-form', remote: true do
          = select_tag :object_type, options_for_select(@object_types), prompt: 'Select Object Type', class: 'form-control'
          = text_field_tag :id, '', placeholder: 'Object ID', class: 'form-control'
          = text_field_tag :timestamp, '', placeholder: 'Timestamp', class: 'form-control'
          = submit_tag 'Submit', class: 'btn btn-primary'
      %button.btn.btn-primary.btn-filter Filter
      %button.btn.btn-primary{ data: { toggle: 'modal', target: '#import-modal' } } Import
  .content
    = render 'content', histories: @histories
= render 'import_modal'
